*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1919;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 20%;
}

.sharingon {
  width: 10em;
  height: 10em;
  background-color: red;
  border: 6px solid black;
  animation: rot 1s ease-in-out infinite;
}

.ring {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 7em;
  height: 7em;
  border: 4px solid rgb(110, 13 ,13 ,0.5);
  transform: translate(-50%,-50%);
}

.sharingon, .ring, .to,.circle {
  border-radius: 50%;
}

.to,.circle {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  background-color: black;
}

.to:nth-child(1) {
  top: -0.5em;
  left: 50%;
  transform: translate(-40%);
}

.to::before {
  content: "";
  position: absolute;
  top: -0.5em;
  right: -0.2em;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  border-left: 16px solid black;
  border-radius: 100% 0 0;
}

.to:nth-child(2) {
  bottom: 0.5em;
  left: -0.35em;
  transform: rotate(-120deg);
}

.to:nth-child(3) {
  bottom: 0.5em;
  right: -0.35em;
  transform: rotate(120deg);
}

.circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 20px 1px;
  width: 2em;
  height: 2em;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}